http://127.0.0.1:8080/opennaef.application/
cmd		inventoryFilteringFields	http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		topologyView				http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		saveLayout			    	http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryList				http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryRefresh			http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryUpdate				http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryLSPGrouping		http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryCancelReservation	http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryRemoveDisposedLSP	http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryNodeEditDialog		http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryNodeEditUpdate		http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryGetNodeEditList	http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryNodeBatchProcess	http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryPortEditDialog		http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryPortEditUpdate		http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryLagMemberPortEditUpdate		http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryPortDelete			http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryL2LinkDelete		http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryVlanStackToPortDialog		http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryVlanStackToPortCreate		http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryVlanUnstackFromPortDialog		http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryVlanUnstackFromPort		http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryGetIpSubnetNamespaces	http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryGetIpSubnetNamespaceAndAddressPair	http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryVlanIdAllocateSubnetAddress	http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryLagPortList		http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryGetPortList		http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryGetVlanPoolSubnetList		http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryGetVlanPoolList	http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryVlanIdCreate		http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryVlanLinkDelete		http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryVlanPropertyEditDialog	http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryVlanPropertyEditUpdate	http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryRegistVlanAndSubnetAddress	http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryIpSubnetNamespaceUpdate	http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryGetRootIpSubnetNamespaces	http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryGetDeletableIpSubnetNamespaces	http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryIpSubnetDelete		http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryCsvImport			http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryGetIpAddressList		http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryGetGatewayVlanIf		http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryGetAAAUserName			http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventoryFWLB			http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		inventorySystemUser		http://127.0.0.1:8080/opennaef.application/nmscore/
cmd		VossWeb						http://127.0.0.1:8080/opennaef.application/loc/
cmd		applyDiff					http://127.0.0.1:8080/opennaef.application/diff/
cmd		ignoreDiff					http://127.0.0.1:8080/opennaef.application/diff/
cmd		viewDiff					http://127.0.0.1:8080/opennaef.application/diff/
cmd		lock						http://127.0.0.1:8080/opennaef.application/diff/
cmd		unlock						http://127.0.0.1:8080/opennaef.application/diff/
cmd		unlockForce					http://127.0.0.1:8080/opennaef.application/diff/
cmd		diffStatus					http://127.0.0.1:8080/opennaef.application/diff/
cmd		createDiff					http://127.0.0.1:8080/opennaef.application/diff/
cmd		createDiffInterrupt			http://127.0.0.1:8080/opennaef.application/diff/
